

body {
	margin: 0;
	font-family: 'Cairo', 'Open Sans', sans-serif;
	height: 1500px;
}

#header{
	width: 100%;
	min-height: 50px;
	background: #fff;
	box-shadow: 0 0 35px #e6e6e6;
	position: fixed;
	top: 0;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: border-box;
	overflow: auto;
}

#logo{
	float: right;
}

#navbar{
	float: left;
}

#logo a{
	display: block;
	margin: 12px 15px 0px;
}

#navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#navbar li{
	float: right;
	direction: rtl;
}

#navbar li a{
	display: inline-block;
	padding: 17px 15px;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	transition: all 0.3s;
}

#navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px #d1d1d1;
    z-index: 1;

}

#navbar .dropdown-content li{
	float: none;
}

#navbar .dropdown-content a {
    display: block;
    padding: 6px 15px;
    text-align: right;
	border-bottom: 2px solid #fff;
}


#navbar .dropdown-content a:hover, #navbar li a:hover{
	border-bottom: 2px solid #02b3e4;
	color: #00aaf6;
	background: #fff;
}

#navbar .dropdown:hover .dropdown-content{
    display: block;
}